services:
  sql:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=Tokunbo77$$
    ports: ["1433:1433"]
    healthcheck:
      test: ["CMD-SHELL", "/opt/mssql-tools/bin/sqlcmd -S localhost -U sa -P Your_password123 -Q 'select 1' || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10

  api:
    build:
      context: ..
      dockerfile: src/Api/Dockerfile
    environment:
      - ASPNETCORE_URLS=http://0.0.0.0:8080
      - ConnectionStrings__Default=Server=sql;Database=SmartTaskTracker;User Id=sa;Password=Your_password123;TrustServerCertificate=True
      - Jwt__Issuer=SmartTaskTracker
      - Jwt__Audience=SmartTaskTracker
      - Jwt__Key=super-secret-dev-key-change-me-please
      - Jwt__ExpiresMinutes=120
      - Admin__Email=admin@tracker.local
      - Admin__Password=ChangeMe!123
    depends_on:
      sql:
        condition: service_healthy
    ports: ["8080:8080"]
